# Java
target/
*.log

# Node
node_modules/
dist/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
uploads/

# Docker data
mysql_data/
redis_data/
/.editorconfig
/backend/src/main/resources/application-dev.yml
/AIlog/
/backend/src/main/resources/application-dev-ai.yml
/deploy/.env.example
